<!DOCTYPE html>
<html lang="en" style="background:transparent;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <style>
      * { margin: 0; padding: 0; }
      html, body { background: transparent !important; overflow: hidden; }
    </style>
  </head>
  <body style="background:transparent;">
    {@inner_content}
  </body>
</html>
